<h1>About Us</h1>

<p>This store sells you everything you will need to turn your home into a jungle. The idea for this business was born out of the covid pandemic when everyone was spending all their time at home. The owner knew people needed more things in their homes to distract themselves from the impending doom of the planet.</p>

